body,html {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    font-family: 'Arvo', serif !important;
    font-size: 18px;

   
}
p{
    font-family: 'Avrvo', serif;
    font-size: 18px;
    line-height:32px;
    margin:0 0 25px;
}
.header {
    background-color: antiquewhite !important;
    width: 100% !important; 
    
 
   
   
}



.profilePic {
    width: 80%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    float: left;
}

.profilePic img {
    width: 100%;
}

.header-content {
    width: 100%;
    line-height: 100%;

  
}
.aboutMe {
    background-color: antiquewhite !important;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}
.header-content h1, h2,h3 {
    text-transform: uppercase;
    color: dimgrey
}

.header-content p {
    line-height: 20%;
    font-size: 12px;
    color: dimgrey;
    font-weight: bold;
}

.content-item {
    background-color: antiquewhite !important;
    margin: 5px;
    padding: 2%;
    line-height: 99%;
    border-radius: 12px;
}
.content-item h4{
    font-weight: bold;
    text-transform: uppercase;
    color: dimgrey;
  text-align: center;
  text-decoration: underline;
}
li{
    font-family: 'Avrvo', serif;
    font-size: 14px;
    line-height:32px;
    margin:0 0 2px;
}
.header-content p{
    font-family: 'Avrvo', serif;
    font-size: 15px;
    line-height:32px;
    margin:0 0 1px;
}
.persInfo{
    text-align: center;
}
.footer{
    background-color: antiquewhite !important;
    border: 5px solid #e73c7e;
    text-align: center;
    margin: 5px;
}
.footer h4{
    font-weight: bold;
    text-transform: uppercase;
    color: dimgrey;
  text-align: center;
  text-decoration: underline;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
