@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Italic;
    src: url('../fonts/montserrat/Montserrat-Italic.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Black;
    src: url('../fonts/montserrat/Montserrat-Black.ttf'); 
  }

body,
html {
   
	font-family: Montserrat-Regular, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

p {
    font-family: Montserrat-Regular;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 25px;
    font-weight: bold;
    color: #003366;
}
a {
    color:#5C07E7;
}

.header {
   
    width: 100% !important;
    border: 2px solid #666666;
    border-radius: 12px;
    margin-top: 1px;
    transition: width 2s, height 2s,transform 2s;
}
.header:hover{
    transform:rotate(360deg);
    border: 2px solid #5C07E7;
}

.profilePic {
    width: 80%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    float: left;
}

.profilePic img {
    width: 100%;
}

.header-content {
    width: 100%;
    line-height: 100%;
}

.aboutMe {
   border: 2px solid #5C07E7;
   border-radius: 12px;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}
.aboutMe p:hover{
  color: #5C07E7;  
}
.header-content h1,
.header-content h2,
.header-content h3 {
    text-transform: uppercase;
    color: #003366;
    font-family: Montserrat-Bold;
}

.header-content p {
    line-height: 20%;
    font-size: 12px;
    color: #003366;
    font-family: Montserrat-Bold;
    font-weight: bold;
}

.content-item {
    border: 2px solid #666666;
    margin: 5px;
    padding: 2%;
    line-height: 99%;
    border-radius: 12px;
    transition: width 2s, height 2s,transform 2s;
}
.content-item:hover {
    transform:rotate(360deg);
    border: 2px solid #5C07E7;

}
.content-item h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: #003366;
    text-align: center;
    text-decoration: underline;
    font-family: Montserrat-Bold;
}

li {
    font-family: Montserrat-Regular;
    font-size: 15px;
    line-height: 32px;
    margin: 0 0 2px;
    color: #003366;
}

.header-content p {
    font-family: Montserrat-Regular;
    font-size: 15px;
    line-height: 32px;
    margin: 0 0 1px;
}

.persInfo {
    text-align: center;
}

.footer {
 
    border: 2px solid #5C07E7;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.footer p:hover{

    color: #5C07E7;
}

.footer h4 {
    font-family: Montserrat-Bold;
    font-weight: bold;
    text-transform: uppercase;
    color: #003366;
    text-align: center;
    text-decoration: underline;
}
